.card{

  .card-header{
    color: $brightextra;
  }

  background: $darksoft;
  color: $bright;
}

.table, .table-hover
{
  color: $bright;

  tbody{
    tr:hover{
      color: $brightextra;
    }
  }
}

.page-item .page-link,
.page-item.disabled .page-link{
  background: $darksoft;
  color: $bright;
  border: none;
}
