.card{

  .card-header{
    color: $brightextra;
  }

  background: $darksoft;
  color: $bright;
}

.table, .table-hover
{
  color: $bright;

  tbody{
    tr:hover{
      color: $brightextra;
    }
  }
}

.page-item .page-link,
.page-item.disabled .page-link{
  background: $darksoft;
  color: $bright;
  border: none;
}

.small-list{
  list-style-type: none;
  margin: 0;
  padding: 2px;
  font-size: 0.8em;
}

.button{
  border-radius: 0px;
  color: $bright;
  background: $darksoft;
}

.large-col{
  min-width: 320px;
}

input{
    color: $bright !important;
    background: $darksoft !important;
    border: 1px solid $dark !important;
}

.stripped-row{
  .row{
    padding:20px;
  }
}
.stripped-row>div:nth-of-type(odd) {
  background: $darksoft2;
}

pre{
  color: $brightextra;
}

.hide{
  display: none;
}

.subtle-text{
  margin: 5px 0px;
  color: $grey;
}

.float-box{
  float: left;
  border: 1px solid $grey;
  padding: 2px 6px;
  margin: 6px;
}

.container-center{
  margin:0 auto;
}
