@import 'components';

body .main{

  background: $dark;
  color: $bright;
  padding: 10px;
}

p{
  margin: 1px 0;;
}

.small-text{
  font-size:0.8em;
}
.title-small{
  font-size: 1.3em;
  font-weight: bold;
  padding: 4px 0px;
}

a{
  color: $brightextra;
}

.hscroll {
  overflow-x: auto; /* Horizontal */
}
