@import 'components';

body .main{

  background: $dark;
  color: $bright;
  padding: 10px;
}

.small-text{
  font-size:0.8em;
  p{
    margin: 2px;
  }
}

a{
  color: $brightextra;
}

.hscroll {
  overflow-x: auto; /* Horizontal */
}
